.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 80%;
    }

    .container {
        max-width: 960px;
    }

    .flex-equal>* {
        flex: 1;
    }

    .flex-md-equal>* {
        flex: 1;
    }
}